# Ignore images
*.jpg
*.png
*.ai

# Igonore Mac OS system files
*.DS_Store

# Ignore zip files
*.zip

# Ignore personal notes
personal_notes.txt

# Ignore images for chrome store
images_for_chrome_store/

# Ignore Marvel API Credentials
marvel_api_credentials.json
