# Ignore images
*.jpg
*.png
*.ai

# Igonore Mac OS system files
*.DS_Store

# Ignore zip files
*.zip

# Ignore personal notes
personal_notes.txt

# Ignore Marvel API Credentials
marvel_api_credentials.json

# Ignore chrome extension stuff
*.crx
*.pem
